<button mat-mini-fab [(colorPicker)]="lambocolor" [style.background]="lambocolor">
  <mat-icon>invert_colors</mat-icon>
</button>

<button mat-raised-button class="center" *ngIf="roleService.canDelete(user)" routerLink="/edit">Edit cards</button>

<div class="grid" *ngIf="cards$ | async as cards; else loading">
  <mat-card class="grid-item-anim" card="card" *ngFor="let card of cards" [routerLink]="['/card', card.id]">
      <mat-card-header>
        <mat-card-title>{{ card.titleCard }}</mat-card-title>
        <mat-card-title>{{ card.subtitleCard }}</mat-card-title>
      </mat-card-header>
      <img [style.background]="lambocolor" matCardImage [src]="card.imageCard" />
      <mat-card-content>
        <p class="content">{{ card.contentCard |  slice:0:100 }}...</p>    
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let tag of card.tagsCard" [ngClass]="tag">
            {{ tag }}
          </mat-chip>
        </mat-chip-list>
        
      </mat-card-actions>
  </mat-card>
</div>

<ng-template #loading>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>