<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar routerLink="/" (click)="drawer.close()">Start line</mat-toolbar>
    <mat-nav-list>
      <!--
      <a mat-list-item routerLink="/forum" (click)="drawer.close()">🏁 fam</a>
      -->
      <a mat-list-item href="https://lamboxproject.etsy.com/" target="_blank">✨ shop</a>
      <a mat-list-item routerLink="/profile" *ngIf="!(afAuth.authState | async)" (click)="drawer.close()">🔑 login</a>
      <a mat-list-item routerLink="/profile" *ngIf="afAuth.authState | async as user" (click)="drawer.close()">✌️ profile</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="fill-space"></span>
      
      <span class="logo" routerLink="/">
        <span style="font-family: 'DM Serif Text', serif">lambo</span><span style="font-family: 'Syncopate'">XPROJECT</span>
      </span>

      <span class="fill-space"></span>

      <div *ngIf="!(isHandset$ | async)">
        <!--
        <a mat-button routerLink="/forum">🏁 fam</a>
        -->
        <a mat-button href="https://latedrives.etsy.com/" target="_blank">🧰 shop</a>
        <a mat-button routerLink="/profile" *ngIf="!(afAuth.authState | async)">🔑 login</a>
        <a mat-button routerLink="/profile" *ngIf="afAuth.authState | async as user" >
          <img class="avatar" [src]="user.photoURL || 'assets/defaultUser.jpg'">profile
        </a>

      </div>

      <!--
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">

        <a mat-menu-item href="">
          <i>💾</i>
          <span>Code on Github</span>
        </a>

        <a mat-menu-item href="">
          <i>📺</i>
          <span>Watch on the YouTube</span>
        </a>
      </mat-menu>
      -->
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>