<div class="center">
  <div class="padding">
    <p class="mat-display-2 rainbow">the future you want</p>
    <p>the desire of a lambo comes from the heart, this is an X project because people will tear your dream off if they know, so we keep this as our secret, a secret community of future lambo owners pushing each others.</p>
  </div>

  <app-card></app-card>

  <div class="padding">
    <div class="box">
      <h2>Best revenge is a new lambo</h2>
    </div>
  </div>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7350150950138278" crossorigin="anonymous"></script>

</div>