<div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">apps</mat-icon>Grid
        </ng-template>

        <app-post></app-post>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">list</mat-icon>List
        </ng-template>

        <app-table></app-table>
    </mat-tab>
  </mat-tab-group>
</div>

<div>
  <h1>Blog</h1>
  <h3>latest posts</h3>
  <app-post></app-post>
</div>


