<mat-card *ngIf="card$ | async as card; else loading">
  <img matCardImage class="align-center" [src]="card.imageCard" />
  <mat-card-content>
    <mat-card-title>{{ card.titleCard }}</mat-card-title>
    <p class="content">{{ card.contentCard }}</p>     
  </mat-card-content>
</mat-card>

<ng-template #loading>
  <mat-spinner class="spinner"></mat-spinner>
</ng-template>

<div class="padding">
    
  <button class="center" mat-raised-button routerLink="/"><mat-icon>keyboard_return</mat-icon></button>
  <app-comment></app-comment>
  
</div>