<h1 class="center">Profile</h1>
<mat-card class="center">
  <img class="avatar" [src]="user.photoURL || 'assets/defaultUser.jpg'">
  <mat-card-title>{{ user.displayName }}</mat-card-title>
  <mat-card-subtitle>{{ user.bio }}</mat-card-subtitle>
  <!-- <mat-card-subtitle>{{ user.email }}</mat-card-subtitle> -->
  <mat-card-content>
    <h2>Lambo reason</h2>
    <p>{{ user.interests }}</p>
  </mat-card-content>
  <h2>Hobbies:</h2>
  <mat-chip-list>
    <mat-chip *ngFor="let hobby of user.hobbies">{{ hobby }}</mat-chip>
  </mat-chip-list>
</mat-card>

<h3>Posts by {{ user.displayName }} ({{ threads.length }})</h3>
<app-thread-list *ngFor="let thread of threads" [thread]="thread"></app-thread-list>