<main>

  <div class="grid">
    <div class="grid-item">
      <p class="mat-display-4 text-left">My story, my dream</p>
    </div>
    <div div class="grid-item">
      <div class="video-container">
        <div class="hello"><p>Hello!</p></div>
        <video class="pitch" controls poster="https://cdn.dribbble.com/assets/pitch/poster-1-ea2d41fa3b6c8a008ed565ad5e1e0cb32d8586c183587f60f4eb76201e9dfc4f.png" playsinline="" muted="" src="https://cdn.dribbble.com/uploads/28921/original/a35d2e6e9613dc840f2950e494d41544.mov?1634705856"></video>
      </div>
    </div>
  </div>

  <p class="mat-h1 text-left">Change the way you introduce yourself and showcase your work with newest feature - Pitch. Put your best foot forward to win clients and get work like never before. Exclusive to Pro Business subscribers</p>

  <a mat-raised-button color="primary">Get started</a>

  <mat-card class="simple-card">
    <mat-card-title>Introduce yourself</mat-card-title>
    <mat-card-content>Your Pitch video automatically displays on your portfolio when you're available for work.</mat-card-content>
  </mat-card>
  <mat-card class="simple-card">
    <mat-card-title>Get noticed</mat-card-title>
    <mat-card-content>Your Pitch video lives on your profile on our Designer Search, where potential clients search for designers to hire.</mat-card-content>
  </mat-card>
  <mat-card class="simple-card">
    <mat-card-title>Get connected</mat-card-title>
    <mat-card-content>Potential clients can easily schedule a call with you via Calendly or they can message you directly through your Pitch video.</mat-card-content>
  </mat-card>

</main>

